body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.header-title {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 40px;
}

h1 {
  font-size: 40px;
}

.icon {
  color: #5c48d3;
  font-size: 48px;
  margin: 20px;
}

.counters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: scroll;
  overflow-x: scroll;
}
